#detailsContainer {
  display: flex;
  flex-direction: column;
  width: 230px;
  background-color: white;
  border: none;
  height: 210px;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
  color: rgb(80, 80, 80);
  margin-bottom: 20px;
}
#resumoPedido {
  margin-top: 17px;
  margin-bottom: 20px;
  font-weight: 600;
  width: 90%;
  text-align: left;
}
#details {
  font-weight: 600;
  color: rgb(80, 80, 80);
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 0.7rem;
  margin-bottom: 50px;
}

#buttonDetails {
  width: 80%;
  border: none;
  color: white;
  background-color: rgb(23, 14, 145);
  border-radius: 5px;
  height: 35px;
}
#buttonDetails:hover {
  background-color: rgb(13, 7, 99);
}
